.board_of_priority_display {
    display: flex;
    background-color: #f5faff;
}

.column {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
}

.priority-image{
    margin-right: 15px;
}

.priority-plus{
    margin-left: auto;
    padding-right: 5px;
}

.column-title {
    font-size: 16px;
    margin-bottom: 15px;
}

.row-of-title {
    display: flex;
    align-items:baseline;
}

.column .card-container {
    margin-bottom: 15px;
}

.button-display {
    background-color: rgb(246, 238, 238); 
    padding: 8px 16px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 14px;
}